
@mixin rgba__main{
    background-color: rgba($color__background-main,.8);
}
@mixin rgba__header{
    background-color: rgba($color__background-header,.8);
}

@mixin grid{
    grid-template-columns: auto;
        grid-template-areas:
            "sidebar"
            "header"
            "main"
            "footer";
}

.site {
    background-color: black;
    //background-color: $color__background-body;
    font-family: $font__main;
}

.home::after{
    content: "";
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color: #fff;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 49% 100% );
    z-index: -10;
    height: 230vh;
}

.site__header{
    grid-area: header;  
    @include rgba__header;
}

.site__barre{
    grid-area: sidebar;
    border-radius: 5px;
    left:-300px;
}



.site__main{
    grid-area: main;
    @include rgba__main;
    display: flex;
    flex-direction: column;
}

.site__footer{
    grid-area: footer;
    background-color: $color__background-footer;
}

@mixin grid__gap {
    display: grid;
    gap : 10px;
}

.site {
	@include grid__gap;
	@include grid;
}

@media screen and (min-width : $largeur__media--tablette)
{
    .site {
        @include grid;
    }

    .home {
        @include grid__gap;
        @include grid;
    }

    
    
}
@media screen and (min-width : $largeur_media--mobile){
    .home::after{
        content: "";
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: #fff;
        //clip-path: polygon(0% 0, 0% 0, 0% 0%, 0% 0% );
        z-index: -10;
        height: 230vh;
    }

}



