/* ---------------- BACKGROUND */
$color__background-body : #ADE292;
$color__background-body-clip : #550baa;
$color__background-main : #905ed0;
$color__background-cours : #4120a9;
$color__background-header : #3e004a;
$color__background-barre : hsl(229, 64%, 70%);
$color__background-footer : hsl(229, 32%, 17%);
$color__background-link : hsl(229, 64%, 70%);
$color__background-link-hover : hsl(236, 64%, 44%);

/* ---------------- LIENS */
$color__link : hsl(283, 91%, 47%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(283, 91%, 47%);
$color__link__footer-hover : hsl(0, 0%, 100%);
$color__link__footer-visited : hsl(276, 57%, 82%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(283, 91%, 47%);
$color__link__header-hover : hsl(0, 0%, 100%);
$color__link__header-visited : hsl(276, 57%, 82%);

/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(240, 170, 151);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);