/* ---------------- BACKGROUND */
$color__background-body : #ADE292;//vert pale comme background pour faire resortir le mauve
$color__background-body-clip : #550baa;//mauve fonçé pour faire ressortir chaque carré 
$color__background-main : #905ed0;//mauve pâle pour complémenter le mauve fonçé
$color__background-cours : #4120a9;//un peu de bleu/mauve qui accompagne le background body clip 
$color__background-header : #3e004a;//différente teinte de mauve 
$color__background-barre : hsl(229, 64%, 70%);
$color__background-footer : hsl(229, 32%, 17%);
$color__background-link : hsl(229, 64%, 70%);
$color__background-link-hover : hsl(236, 64%, 44%);

/* ---------------- LIENS */
$color__link : hsl(283, 91%, 47%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(283, 91%, 47%);
$color__link__footer-hover : hsl(0, 0%, 100%);
$color__link__footer-visited : hsl(276, 57%, 82%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(283, 91%, 47%);
$color__link__header-hover : hsl(0, 0%, 100%);
$color__link__header-visited : hsl(276, 57%, 82%);

/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(240, 170, 151);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);
$color__font-cours:rgb(62, 39, 163);//pour mieu voir le titre de category-cours

/*----------------COULEUR BOUTON / LIEN MENU */
$color__bouton__color:hsl(283, 86%, 60%);
$color__bouton__background:rgba(73, 4, 87, 0.8);
$color__bouton__color--hover:hsl(0, 0%, 100%);
$color__bouton__background--hover:rgba(126, 0, 151, 0.8);
$color__bouton__visited : hsl(276, 57%, 82%);
$color__bouton__background--current:rgba(43, 2, 53, 0.8);
$color__bouton__color--current:hsl(283, 82%, 78%);