.boite__modale{
    position: fixed;
    top:25vh;
    left:25vw;
    border: 5px solid black;
    background-color:$color__background-cours;
    width: 50vw;
    height: 50vh;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    &__fermeture{
        position: fixed;
       left: 97.6%;
        
    }
    &__texte{
        color: white;
    }


}
.ouvrir{
    transform: scale(1);
}