@mixin contour {
    background-color: $color__background-cours;
    box-shadow: rgb(57, 64, 68) 1px -1px 10px;
    border-radius: 5px;
}

@mixin flex__direction {
    display: flex;
    flex-direction: column;
}

.site__main {
    padding: 10px 15px;
    @include contour;
}

.formation {
    @include flex__direction;

    &__titre {
        font-size: 2rem;
        color: $color__font-cours;
        margin: 10px 0px;
        font-family: $font__titre;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__liste {
        display: flex;
        flex-wrap: wrap;
    }
    svg:hover{
        fill:white;
    }

    &__cours {
        background-repeat: no-repeat;
        background-position: 93% 3%;
        @include contour;
        margin: 10px;
        @include flex__direction;
        width: 100%;

        @media screen and (min-width : $largeur__media--tablette) {
            width: 45%;
        }

        @media screen and (min-width : $largeur__media--desktop) {
            width: 30%;
        }

        padding: 10px;

        &__invisible {
            display: none;
        }
    }


}

.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(138, 83, 83);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}

.web {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=globe');
}

.jeu {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=games');
}

.design {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=color_lens');
}

.creation-3d {
    background-image: url('https://s2.svgbox.net/materialui.svg?ic=view_in_ar');
}

.utilitaire {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=tools-bold');
}

.video {
    background-image: url('https://s2.svgbox.net/octicons.svg?ic=device-camera-video');
}