.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    padding: 15px;
    color: white;

    &__menu{ // .site__footer__menu
          display: flex;
      &__ul{ // .site__footer__menu__ul
          display : flex;
          list-style-type: none;
          justify-content:center;
          padding-right: 5rem;
          .menu-item { // .site__footer__menu__ul .menu-item
              margin : 10px 5px;
            a{ // .site__footer__menu__ul .menu-item a
              display : flex;
              align-items: center;
              padding : 3px;
                svg { // .site__footer__menu__ul .menu-item a svg
                  color: $color__link__footer;
                }
           
              &:hover {
                svg { // .site__footer__menu__ul .menu-item a svg
                  color: $color__link__footer-hover;
                }
              }
            }
          }    
       }
    }
  }

.footer__text{
display: flex;
align-items: center;
flex-direction: row;
text-align: center;


color: $color__font-footer;
  &__titre{

  }
  &__presentation{
    justify-content: space-between;
  }
  &__author{
    justify-content: space-between;
    padding-left: 5rem;
  }
}



.site__footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  &__colonne{
    display: flex;
    padding-left: 5rem;
    justify-content: space-around;

    section{
      display: flex;
      flex-direction: column;
      //border: 1px solid yellow;
      padding: 10px 15px;
      background-color: rgba($color__background-header,.8);
      border-radius: 5px;
      box-shadow: rgb(255, 255, 255) 1px -1px 10px;
      flex: 0 0 30%;
      justify-content: space-between;
    }
    .footer__article{
      padding-right: 8rem;
      
    }
    .footer__lien{

    }
    .footer__adresse{

    }
  }


  &__ligne{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}