@mixin flex{
  display: flex;
  align-items: center; 
}


.site__header {
    display: flex;
    flex-direction: column;
    background-color: $color__background-header;
    color: $color__font-header;
    padding-top:10px 20px 10px 40px;

    @media screen and (min-width: 700px){
      flex-direction: row;
      align-items: center;
    }

    &__titre{
    justify-content: space-around; 
    @include flex;
    }
    .header__titre a{
      font-size: clamp(2rem, 2vw, 8rem);
      font-family: $font__titre;
      padding-left: 10px;
    }
    .header__description {
      font-size: clamp(1.5rem, 2vw, 2rem);
      font-family: $font__main;
      margin-left: 2rem;
      padding-left: 10px;
    }
  }

  .utile{
    flex-direction: column;
    @include flex;
    @media screen and (min-width: 700px){
      margin-left: auto;  

    }
  }

  .sidebar-entete_1{
    border:0px;
    padding-bottom: -20px;
  }


  .test
  {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: white;
  }