/*----------------------------------------------
Naviguation categorie cours
-----------------------------------------------*/

.menu-category_cours-container {  //nav
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    
    .menu {  //ul
        display: flex;
        list-style: none;
    .menu-item{  //li
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color__bouton__background;
        
        &:hover{
            background-color: $color__bouton__background--hover;
        &:hover a{
            color:$color__bouton__color--hover ;
        }
        }
        a{
            color: $color__bouton__color;
            padding-left: 20px;
            padding-right: 20px;
        }
        &:visited a{
            a{
                color: $color__link__header-visited;
            }
            
        }
        
    }
    .current-menu-item{
        background-color: $color__bouton__background--current;
        a{
            color: $color__bouton__color--current; 
        }
    }
    }
    }
