@mixin contour__menu {
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
    transform : translateX(-300px);
}

@mixin block{
    display : block;
    position: absolute;
}

//bouton burger 
#chk-burger{
    display: none;
}

#burger{
    position:absolute;
    z-index :10;
    transition : transform .3s;
    transform : rotate(0);
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
#chk-burger:checked ~ .menu-principal-container  {
    transform : translateX(0);
}

.menu-principal-container {
    transition : transform .3s;
    @include block;
    padding-top: 0px;
    z-index: 1;
    background-color: $color__background-barre;
    @include contour__menu;
    @media screen and (min-width:700px){
        padding-top: 40px;
    }  


@mixin margin__padding {
    margin : 0;
    padding :0;
}

/*.menu-principal-container{}*/
.menu{
    @include margin__padding;
    list-style-type: none;
    padding-top: 1.5rem;
    
}

    .menu-item{
        @include margin__padding;
        a{
            display : block;
            text-decoration: none;
            padding : 4px;
            background-color: $color__background-link;
            &:hover {
                background-color: $color__background-link-hover;
            }
        }
    }
}
@media screen and (min-width : $largeur__media--tablette){
    .site #burger {
        @include block;
    }
    .site .menu-principal-container {
        display : block;
        
    }

    .home #burger {
        @include block;
        z-index : 2;
     
    }
    .home .menu-principal-container {
        display : block;
        
    }

}








