@mixin border__background {
    background-color: transparent;
        border: none;
        outline: none;
}

.recherche{
    background-color: rgba(rgb(255, 255, 255), .1);
    width: 250px;
    position: relative;

    &__input{
        @include border__background;
        width: 100%;
        transition: .25s;
        &:focus{
            background-color: rgba(#000, .2);
        }
    }
    &__bouton{
        position: absolute;
        top:0;
        right:0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include border__background;
        svg{
        
        }
    }
}
